In [1]:
##%run 'dbData.ipynb'

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.plotly as ply
%matplotlib inline

ERROR:root:File `"'dbData.ipynb'.py"` not found.

# Public Holidays in Germany

In [5]:
Public_holidays =pd.read_csv("C:/Users/arora/data carbooking/publicHolidays.csv", sep = ',', header = 0)

In [6]:
Public_holidays

          Date   Public_Holidays
0   01-01-2018    New Year's Day
1   30-03-2018       Good Friday
2   02-04-2018     Easter Monday
3   01-05-2018        Labour Day
4   10-05-2018     Ascension Day
5   21-05-2018       Whit Monday
6   03-10-2018  German Unity Day
7   25-12-2018     Christmas Day
8   01-01-2017    New Year's Day
9   14-04-2017       Good Friday
10  17-04-2017     Easter Monday
11  01-05-2017        Labour Day
12  25-05-2017     Ascension Day
13  05-06-2017       Whit Monday
14  03-10-2017  German Unity Day
15  25-12-2017     Christmas Day
16  01-01-2016    New Year's Day
17  25-03-2016       Good Friday
18  28-03-2016     Easter Monday
19  01-05-2016        Labour Day
20  05-05-2016     Ascension Day
21  16-05-2016       Whit Monday
22  03-10-2016  German Unity Day
23  25-12-2016     Christmas Day
24  01-01-2015    New Year's Day
25  03-04-2015       Good Friday
26  08-04-2015     Easter Monday
27  01-05-2015        Labour Day
28  14-05-2015     Ascension Day
29  25-05-2015       Whit Monday
30  03-10-2015  German Unity Day
31  25-12-2015     Christmas Day
32  01-01-2014    New Year's Day
33  18-04-2014       Good Friday
34  21-04-2014     Easter Monday
35  01-05-2014        Labour Day
36  29-05-2014     Ascension Day
37  09-06-2014       Whit Monday
38  03-10-2014  German Unity Day
39  25-12-2014     Christmas Day
40  01-01-2013    New Year's Day
41  29-03-2013       Good Friday
42  01-04-2013     Easter Monday
43  01-05-2013        Labour Day
44  09-05-2013     Ascension Day
45  20-05-2013       Whit Monday
46  03-10-2013  German Unity Day
47  25-12-2013     Christmas Day
48  26-12-2013   St.Stephens Day

# Converting the data type of the date.

In [45]:
Public_holidays['Date'] = pd.to_datetime(Public_holidays.Date)
Public_holidays = Public_holidays.rename(columns = {'Date' :'fromDate'})
Public_holidays

     fromDate   Public_Holidays
0  2018-01-01    New Year's Day
1  2018-03-30       Good Friday
2  2018-02-04     Easter Monday
3  2018-01-05        Labour Day
4  2018-10-05     Ascension Day
5  2018-05-21       Whit Monday
6  2018-03-10  German Unity Day
7  2018-12-25     Christmas Day
8  2017-01-01    New Year's Day
9  2017-04-14       Good Friday
10 2017-04-17     Easter Monday
11 2017-01-05        Labour Day
12 2017-05-25     Ascension Day
13 2017-05-06       Whit Monday
14 2017-03-10  German Unity Day
15 2017-12-25     Christmas Day
16 2016-01-01    New Year's Day
17 2016-03-25       Good Friday
18 2016-03-28     Easter Monday
19 2016-01-05        Labour Day
20 2016-05-05     Ascension Day
21 2016-05-16       Whit Monday
22 2016-03-10  German Unity Day
23 2016-12-25     Christmas Day
24 2015-01-01    New Year's Day
25 2015-03-04       Good Friday
26 2015-08-04     Easter Monday
27 2015-01-05        Labour Day
28 2015-05-14     Ascension Day
29 2015-05-25       Whit Monday
30 2015-03-10  German Unity Day
31 2015-12-25     Christmas Day
32 2014-01-01    New Year's Day
33 2014-04-18       Good Friday
34 2014-04-21     Easter Monday
35 2014-01-05        Labour Day
36 2014-05-29     Ascension Day
37 2014-09-06       Whit Monday
38 2014-03-10  German Unity Day
39 2014-12-25     Christmas Day
40 2013-01-01    New Year's Day
41 2013-03-29       Good Friday
42 2013-01-04     Easter Monday
43 2013-01-05        Labour Day
44 2013-09-05     Ascension Day
45 2013-05-20       Whit Monday
46 2013-03-10  German Unity Day
47 2013-12-25     Christmas Day
48 2013-12-26   St.Stephens Day

# Loading Booking data

In [7]:
db_data = pd.read_csv("OPENDATA_BOOKING_CARSHARING.csv", sep = ';', header = 0)

In [30]:
db_data.head()

,BOOKING_ID,VEHICLE_TYPE_ID,CUSTOMER_HAL_ID,CITY,bookingDate,BWD,fromDate,FWD,untilDate,UWD
0,17842196,150359,9680D41CFEFE292240253676FF6DD6C242B98EFD,Köln,2013-06-05,2,2014-01-12,6,2014-01-12,6
1,18270895,149335,045B17DDFAA4DCE1751DF14B2DFC2C3106C5E788,Oldenburg (Oldb),2013-06-25,1,2014-05-06,1,2014-05-06,1
2,19054992,151333,645B3B221397740C5DD3ACE9915B28D717697D1F,Stralsund,2013-08-01,3,2014-06-14,5,2014-06-22,6
3,19057626,149540,00DF8A75463E3424010AF22F5292FB9499DBEFBD,München,2013-08-01,3,2014-02-01,5,2014-02-08,5
4,19313282,150574,6551685BE2457EC2944877C65423089CDD6EA6C2,Fulda,2013-08-13,1,2014-05-16,4,2014-05-16,4

# Considering the data we need

In [9]:
data = ['COMPUTE_EXTRA_BOOKING_FEE','TRAVERSE_USE','CATEGORY_HAL_ID','DISTANCE','START_RENTAL_ZONE','START_RENTAL_ZONE_HAL_ID','END_RENTAL_ZONE','RENTAL_ZONE_HAL_SRC','END_RENTAL_ZONE_HAL_ID','TECHNICAL_INCOME_CHANNEL']
db_data.drop(data,inplace = True, axis = 1)

In [10]:
db_data = db_data.rename(columns = {'CITY_RENTAL_ZONE' :'CITY'})
db_data = db_data.rename(columns = {'VEHICLE_HAL_ID' :'VEHICLE_TYPE_ID'})
db_data = db_data.rename(columns = {'BOOKING_HAL_ID' :'BOOKING_ID'})
db_data.head()

,BOOKING_ID,VEHICLE_TYPE_ID,CUSTOMER_HAL_ID,DATE_BOOKING,DATE_FROM,DATE_UNTIL,CITY
0,17842196,150359,9680D41CFEFE292240253676FF6DD6C242B98EFD,2013-06-05 08:49:33,2014-01-12 13:00:00,2014-01-12 14:30:00,Köln
1,18270895,149335,045B17DDFAA4DCE1751DF14B2DFC2C3106C5E788,2013-06-25 14:12:08,2014-05-06 13:30:00,2014-05-06 19:00:00,Oldenburg (Oldb)
2,19054992,151333,645B3B221397740C5DD3ACE9915B28D717697D1F,2013-08-01 07:20:47,2014-06-14 14:00:00,2014-06-22 10:30:00,Stralsund
3,19057626,149540,00DF8A75463E3424010AF22F5292FB9499DBEFBD,2013-08-01 09:22:07,2014-02-01 15:00:00,2014-02-08 15:00:00,München
4,19313282,150574,6551685BE2457EC2944877C65423089CDD6EA6C2,2013-08-13 10:28:38,2014-05-16 14:45:00,2014-05-16 22:00:00,Fulda

# Seperating Dates from the colmns

In [25]:
# DATE BOOKING column
db_data['DATE_BOOKING'] = pd.to_datetime(db_data.DATE_BOOKING)
db_data['bookingDate'] = db_data.DATE_BOOKING.dt.date
db_data['bookingDate'] = pd.to_datetime(db_data.bookingDate)
db_data['BWD'] =db_data.DATE_BOOKING.dt.weekday #where 0-->SUNDAY until 6-->SATURDAY
# DATE_FROM column
db_data['DATE_FROM'] = pd.to_datetime(db_data.DATE_FROM)
db_data['fromDate'] = db_data.DATE_FROM.dt.date
db_data['fromDate'] = pd.to_datetime(db_data.fromDate)
db_data['FWD'] =db_data.DATE_FROM.dt.weekday

# DATE_UNTIL
db_data['DATE_UNTIL'] = pd.to_datetime(db_data.DATE_UNTIL)
db_data['untilDate'] = db_data.DATE_UNTIL.dt.date
db_data['untilDate'] = pd.to_datetime(db_data.untilDate)
db_data['UWD'] =db_data.DATE_UNTIL.dt.weekday

db_data

,BOOKING_ID,VEHICLE_TYPE_ID,CUSTOMER_HAL_ID,DATE_BOOKING,DATE_FROM,DATE_UNTIL,CITY,bookingDate,BWD,fromDate,FWD,untilDate,UWD
0,17842196,150359,9680D41CFEFE292240253676FF6DD6C242B98EFD,2013-06-05 08:49:33,2014-01-12 13:00:00,2014-01-12 14:30:00,Köln,2013-06-05,2,2014-01-12,6,2014-01-12,6
1,18270895,149335,045B17DDFAA4DCE1751DF14B2DFC2C3106C5E788,2013-06-25 14:12:08,2014-05-06 13:30:00,2014-05-06 19:00:00,Oldenburg (Oldb),2013-06-25,1,2014-05-06,1,2014-05-06,1
2,19054992,151333,645B3B221397740C5DD3ACE9915B28D717697D1F,2013-08-01 07:20:47,2014-06-14 14:00:00,2014-06-22 10:30:00,Stralsund,2013-08-01,3,2014-06-14,5,2014-06-22,6
3,19057626,149540,00DF8A75463E3424010AF22F5292FB9499DBEFBD,2013-08-01 09:22:07,2014-02-01 15:00:00,2014-02-08 15:00:00,München,2013-08-01,3,2014-02-01,5,2014-02-08,5
4,19313282,150574,6551685BE2457EC2944877C65423089CDD6EA6C2,2013-08-13 10:28:38,2014-05-16 14:45:00,2014-05-16 22:00:00,Fulda,2013-08-13,1,2014-05-16,4,2014-05-16,4
5,19313291,150574,6551685BE2457EC2944877C65423089CDD6EA6C2,2013-08-13 10:29:24,2014-08-06 15:45:00,2014-08-06 22:00:00,Fulda,2013-08-13,1,2014-08-06,2,2014-08-06,2
6,19479182,148005,C365278A6CDCEBE058E5EC06FF0C154686303010,2013-08-21 18:36:12,2014-01-22 18:00:00,2014-01-27 09:45:00,Frankfurt am Main,2013-08-21,2,2014-01-22,2,2014-01-27,0
7,19508250,156308,0E40E3CA959C55D8040775695FD9A3033201298B,2013-08-23 00:14:48,2014-05-24 15:00:00,2014-05-25 01:30:00,Hamburg,2013-08-23,4,2014-05-24,5,2014-05-25,6
8,19923967,150359,9680D41CFEFE292240253676FF6DD6C242B98EFD,2013-09-15 12:19:14,2014-01-05 14:00:00,2014-01-05 15:30:00,Köln,2013-09-15,6,2014-01-05,6,2014-01-05,6
9,19960704,150715,E1B1BF157BDEF3542D79DC7EDF30437B9DC69B4A,2013-09-17 17:59:03,2014-01-11 09:45:00,2014-01-11 16:15:00,Siegburg,2013-09-17,1,2014-01-11,5,2014-01-11,5
10,19969142,148694,390C96CE2A960A0DB73C5C972751CE97BB29C2E4,2013-09-18 10:36:49,2014-01-16 18:30:00,2014-01-16 23:15:00,Offenburg,2013-09-18,2,2014-01-16,3,2014-01-16,3
11,19969159,151781,9D562F0C6E92EF378FE4CE66133949E212B429D2,2013-09-18 10:37:46,2014-01-08 10:15:00,2014-01-08 18:30:00,Hamburg,2013-09-18,2,2014-01-08,2,2014-01-08,2
12,19969160,151781,9D562F0C6E92EF378FE4CE66133949E212B429D2,2013-09-18 10:37:46,2014-01-15 10:15:00,2014-01-15 15:45:00,Hamburg,2013-09-18,2,2014-01-15,2,2014-01-15,2
13,19969161,151781,9D562F0C6E92EF378FE4CE66133949E212B429D2,2013-09-18 10:37:46,2014-01-22 10:15:00,2014-01-22 20:15:00,Hamburg,2013-09-18,2,2014-01-22,2,2014-01-22,2
14,19969162,151781,9D562F0C6E92EF378FE4CE66133949E212B429D2,2013-09-18 10:37:46,2014-01-29 10:15:00,2014-01-29 17:45:00,Hamburg,2013-09-18,2,2014-01-29,2,2014-01-29,2
15,20102722,149911,D12078C40370CE93FBD63CB1B9DEAB6DD9239584,2013-09-26 14:48:00,2014-01-12 21:30:00,2014-01-12 23:15:00,Berlin,2013-09-26,3,2014-01-12,6,2014-01-12,6
16,20164310,149917,CF894ADBD0E1ED96A63D256D8F48419921D6BD7B,2013-09-30 10:47:46,2014-02-20 09:30:00,2014-02-22 15:45:00,Schwerin,2013-09-30,0,2014-02-20,3,2014-02-22,5
17,20169502,156682,1203E8643BF967C12CB34518AF6DAFAD6D21F2D2,2013-09-30 15:39:16,2014-04-26 16:00:00,2014-05-01 09:15:00,Offenburg,2013-09-30,0,2014-04-26,5,2014-05-01,3
18,20263201,150782,CAD3A8B07B1103B402AB30FA2EA1925821A6EABE,2013-10-07 08:29:51,2014-03-26 18:00:00,2014-03-27 06:30:00,Offenburg,2013-10-07,0,2014-03-26,2,2014-03-27,3
19,20263220,150782,CAD3A8B07B1103B402AB30FA2EA1925821A6EABE,2013-10-07 08:30:36,2014-04-08 17:00:00,2014-04-09 06:15:00,Offenburg,2013-10-07,0,2014-04-08,1,2014-04-09,2
20,20284643,148694,390C96CE2A960A0DB73C5C972751CE97BB29C2E4,2013-10-08 12:10:02,2014-01-09 07:00:00,2014-01-09 12:45:00,Offenburg,2013-10-08,1,2014-01-09,3,2014-01-09,3
21,20284653,148694,390C96CE2A960A0DB73C5C972751CE97BB29C2E4,2013-10-08 12:10:43,2014-01-16 07:00:00,2014-01-16 12:30:00,Offenburg,2013-10-08,1,2014-01-16,3,2014-01-16,3
22,20299607,156816,E8C3DBB015B2FE5EC1B3D6D29F4DF66ED0DC3B48,2013-10-09 09:21:44,2014-04-18 14:00:00,2014-04-25 13:15:00,Offenburg,2013-10-09,2,2014-04-18,4,2014-04-25,4
23,20350059,151335,7A74D1CF5B58FE0253A4CFC9424C7AB96233C816,2013-10-12 18:22:59,2014-01-03 20:30:00,2014-01-06 16:15:00,Flugh. Berlin,2013-10-12,5,2014-01-03,4,2014-01-06,0
24,20374549,150242,1A990A99759A9CF9A3A32340558E108BD818BFD3,2013-10-14 16:31:32,2014-08-02 10:30:00,2014-08-02 13:30:00,Mannheim,2013-10-14,0,2014-08-02,5,2014-08-02,5
25,20390491,150682,DA740D2EACD1FB25C8B67FF6153E415C0FA5C60F,2013-10-15 16:26:39,2014-01-28 09:45:00,2014-01-28 15:45:00,Stuttgart,2013-10-15,1,2014-01-28,1,2014-01-28,1
26,20397859,150197,5A89323A7FB130FEF6D34996AAC18415B87FB6D2,2013-10-16 07:18:20,2014-01-14 07:30:00,2014-01-14 13:30:00,Ravensburg,2013-10-16,2,2014-01-14,1,2014-01-14,1
27,20409041,149891,B43B7C51E993DFEADA4F74FDE8DFEEFA51CD5DD3,2013-10-16 17:49:42,2014-01-06 19:45:00,2014-01-09 17:15:00,Duisburg,2013-10-16,2,2014-01-06,0,2014-01-09,3
28,20409095,149891,B43B7C51E993DFEADA4F74FDE8DFEEFA51CD5DD3,2013-10-16 17:52:07,2014-01-14 11:45:00,2014-01-16 18:00:00,Duisburg,2013-10-16,2,2014-01-14,1,2014-01-16,3
29,20409142,150240,B43B7C51E993DFEADA4F74FDE8DFEEFA51CD5DD3,2013-10-16 17:54:07,2014-01-21 11:45:00,2014-01-23 18:00:00,Duisburg,2013-10-16,2,2014-01-21,1,2014-01-23,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
548043,46379100,167724,7F4C8B813601F5645EC6D9FAB984C1F99D5C27BD,2017-05-15 20:23:13,2017-05-15 20:30:00,2017-05-16 07:45:00,Köln,2017-05-15,0,2017-05-15,0,2017-05-16,1
548044,46379772,174126,CCB4DE84E8F52F15C8DCBD03F849E6D68F6BB2DD,2017-05-15 20:45:59,2017-05-15 22:45:00,2017-05-16 08:45:00,Offenburg,2017-05-15,0,2017-05-15,0,2017-05-16,1
548045,46379781,173939,46DF81B56A2BA38D985EEA833FD1EE2327CEB76A,2017-05-15 20:46:13,2017-05-15 21:00:00,2017-05-15 23:45:00,Berlin,2017-05-15,0,2017-05-15,0,2017-05-15,0
548046,46379801,172291,7BD68687E5C3A684AC63365FC2DD9E94CDEB1449,2017-05-15 20:46:51,2017-05-15 20:45:00,2017-05-15 21:15:00,München,2017-05-15,0,2017-05-15,0,2017-05-15,0
548047,46379826,172266,E96C00EC791A4D9E09F70307AB44EC7CFA00E647,2017-05-15 20:47:39,2017-05-15 20:45:00,2017-05-15 21:15:00,Berlin,2017-05-15,0,2017-05-15,0,2017-05-15,0
548048,46379947,173459,A293611EEC995F005D7792B4E323F2D7A2BB4B82,2017-05-15 20:52:52,2017-05-16 06:45:00,2017-05-16 09:30:00,Köln,2017-05-15,0,2017-05-16,1,2017-05-16,1
548049,46380162,170283,70876A04C7EA25D8C57B940D08C2741D32DDD1F6,2017-05-15 21:00:29,2017-05-15 21:00:00,2017-05-15 23:30:00,Berlin,2017-05-15,0,2017-05-15,0,2017-05-15,0
548050,46380658,173950,94F510D203F9B30B3A6592DF398476E49DFD43B7,2017-05-15 21:19:49,2017-05-16 07:30:00,2017-05-16 15:30:00,Berlin,2017-05-15,0,2017-05-16,1,2017-05-16,1
548051,46380725,167739,B83A41DE55827262FBE4488511531F0643E8FECD,2017-05-15 21:22:53,2017-05-16 08:00:00,2017-05-16 14:00:00,Köln,2017-05-15,0,2017-05-16,1,2017-05-16,1
548052,46380751,173431,BDD852F474594DEBC5B4E9AF01E28A9DA6B52633,2017-05-15 21:23:53,2017-05-16 07:30:00,2017-05-16 13:30:00,Berlin,2017-05-15,0,2017-05-16,1,2017-05-16,1
548053,46381961,173556,FB776A7A38A43812B4D27B620ECD05A82FCF983C,2017-05-15 22:16:25,2017-05-16 09:30:00,2017-05-16 11:30:00,München,2017-05-15,0,2017-05-16,1,2017-05-16,1
548054,46382078,173450,54E4A241780CC1A3C7E9D856771F893DB2B303F1,2017-05-15 22:23:38,2017-05-16 07:00:00,2017-05-16 08:00:00,Berlin,2017-05-15,0,2017-05-16,1,2017-05-16,1
548055,46382222,160258,4298714413CFA0B2354E28CC4627959EF66217A7,2017-05-15 22:31:25,2017-05-15 22:30:00,2017-05-15 23:30:00,Stuttgart,2017-05-15,0,2017-05-15,0,2017-05-15,0
548056,46382886,173517,1A5C8B89D697D134FC114EF68D35D1B1D5A724BB,2017-05-15 23:16:45,2017-05-16 08:30:00,2017-05-16 12:30:00,München,2017-05-15,0,2017-05-16,1,2017-05-16,1
548057,46382991,173445,E96C00EC791A4D9E09F70307AB44EC7CFA00E647,2017-05-15 23:25:07,2017-05-15 23:30:00,2017-05-16 00:30:00,Berlin,2017-05-15,0,2017-05-15,0,2017-05-16,1
548058,46383091,167741,CD8FA7486D7B97C4B5EA454713EC70135A1E0A78,2017-05-15 23:31:33,2017-05-16 09:00:00,2017-05-16 10:30:00,Köln,2017-05-15,0,2017-05-16,1,2017-05-16,1
548059,46383117,163415,3ACDCF37CE5FDFD103DC4B25E9E3EF19E99C0EAD,2017-05-15 23:33:32,2017-05-15 23:30:00,2017-05-16 11:15:00,Trier,2017-05-15,0,2017-05-15,0,2017-05-16,1
548060,46383617,174138,A6BDE3C903926D5AF219E26CA4933275B39AC690,2017-05-16 00:31:25,2017-05-16 08:30:00,2017-05-16 10:30:00,Berlin,2017-05-16,1,2017-05-16,1,2017-05-16,1
548061,46384071,148302,D2260E9DA35377C69103FFE4AC0FEE1D886544B9,2017-05-16 02:06:52,2017-05-16 02:00:00,2017-05-16 03:30:00,Berlin,2017-05-16,1,2017-05-16,1,2017-05-16,1
548062,46384454,167786,06EBEE3B0F8AA11CCE044D931603C7B5D1B3881B,2017-05-16 05:01:56,2017-05-16 05:00:00,2017-05-16 05:15:00,München,2017-05-16,1,2017-05-16,1,2017-05-16,1
548063,46384575,161598,1D2D9690B931AE0986F8424E8316149AB191B441,2017-05-16 05:50:05,2017-05-16 05:45:00,2017-05-16 06:45:00,Berlin,2017-05-16,1,2017-05-16,1,2017-05-16,1
548064,46384675,173538,7C4FA89C9CEB0C2700DDB6E8F8520D38118D30CD,2017-05-16 06:10:08,2017-05-16 09:15:00,2017-05-16 16:15:00,Minden,2017-05-16,1,2017-05-16,1,2017-05-16,1
548065,46384746,173540,E58BDE2847F283424E51B64878B1232A74EDDFE6,2017-05-16 06:20:23,2017-05-16 06:45:00,2017-05-16 18:30:00,Berlin,2017-05-16,1,2017-05-16,1,2017-05-16,1
548066,46384815,173964,22787C12D415C3C300B90F44D4D6913A7AEB80DA,2017-05-16 06:28:43,2017-05-16 06:45:00,2017-05-16 09:00:00,Hildesheim,2017-05-16,1,2017-05-16,1,2017-05-16,1
548067,46384875,170520,BFC2A0F0DA54111904EE47F57B2B62E07373A35C,2017-05-16 06:35:24,2017-05-16 08:45:00,2017-05-16 14:00:00,Frankfurt am Main,2017-05-16,1,2017-05-16,1,2017-05-16,1
548068,46385140,174185,65C0C527DD4EA6229E0D2B8E3EE8E7C9D43D037D,2017-05-16 07:00:33,2017-05-16 08:15:00,2017-05-16 09:15:00,Berlin,2017-05-16,1,2017-05-16,1,2017-05-16,1
548069,46385327,149218,B45F2CFD95C5887698AD87B6596102E24DCCE243,2017-05-16 07:15:07,2017-05-16 07:15:00,2017-05-16 08:15:00,Berlin,2017-05-16,1,2017-05-16,1,2017-05-16,1
548070,46385351,174116,954FB74EF255E4089D3D7DA3FE6234DE781BFDD3,2017-05-16 07:16:29,2017-05-16 08:30:00,2017-05-16 12:30:00,Köln,2017-05-16,1,2017-05-16,1,2017-05-16,1
548071,46385778,173552,A986BBFA0F81DD3D2EB02A97A30A97CF111BD2C1,2017-05-16 07:37:19,2017-05-16 08:45:00,2017-05-18 09:45:00,Saarbrücken,2017-05-16,1,2017-05-16,1,2017-05-18,3
548072,46385814,169106,1127C45D5E5C398FE0BCAF07D6C6694C2C9E0B0B,2017-05-16 07:39:22,2017-05-16 07:45:00,2017-05-16 10:45:00,Gelsenkirchen,2017-05-16,1,2017-05-16,1,2017-05-16,1

In [26]:
new = ['DATE_BOOKING','DATE_FROM','DATE_UNTIL']
db_data.drop(new,inplace = True, axis = 1)
db_data

,BOOKING_ID,VEHICLE_TYPE_ID,CUSTOMER_HAL_ID,CITY,bookingDate,BWD,fromDate,FWD,untilDate,UWD
0,17842196,150359,9680D41CFEFE292240253676FF6DD6C242B98EFD,Köln,2013-06-05,2,2014-01-12,6,2014-01-12,6
1,18270895,149335,045B17DDFAA4DCE1751DF14B2DFC2C3106C5E788,Oldenburg (Oldb),2013-06-25,1,2014-05-06,1,2014-05-06,1
2,19054992,151333,645B3B221397740C5DD3ACE9915B28D717697D1F,Stralsund,2013-08-01,3,2014-06-14,5,2014-06-22,6
3,19057626,149540,00DF8A75463E3424010AF22F5292FB9499DBEFBD,München,2013-08-01,3,2014-02-01,5,2014-02-08,5
4,19313282,150574,6551685BE2457EC2944877C65423089CDD6EA6C2,Fulda,2013-08-13,1,2014-05-16,4,2014-05-16,4
5,19313291,150574,6551685BE2457EC2944877C65423089CDD6EA6C2,Fulda,2013-08-13,1,2014-08-06,2,2014-08-06,2
6,19479182,148005,C365278A6CDCEBE058E5EC06FF0C154686303010,Frankfurt am Main,2013-08-21,2,2014-01-22,2,2014-01-27,0
7,19508250,156308,0E40E3CA959C55D8040775695FD9A3033201298B,Hamburg,2013-08-23,4,2014-05-24,5,2014-05-25,6
8,19923967,150359,9680D41CFEFE292240253676FF6DD6C242B98EFD,Köln,2013-09-15,6,2014-01-05,6,2014-01-05,6
9,19960704,150715,E1B1BF157BDEF3542D79DC7EDF30437B9DC69B4A,Siegburg,2013-09-17,1,2014-01-11,5,2014-01-11,5
10,19969142,148694,390C96CE2A960A0DB73C5C972751CE97BB29C2E4,Offenburg,2013-09-18,2,2014-01-16,3,2014-01-16,3
11,19969159,151781,9D562F0C6E92EF378FE4CE66133949E212B429D2,Hamburg,2013-09-18,2,2014-01-08,2,2014-01-08,2
12,19969160,151781,9D562F0C6E92EF378FE4CE66133949E212B429D2,Hamburg,2013-09-18,2,2014-01-15,2,2014-01-15,2
13,19969161,151781,9D562F0C6E92EF378FE4CE66133949E212B429D2,Hamburg,2013-09-18,2,2014-01-22,2,2014-01-22,2
14,19969162,151781,9D562F0C6E92EF378FE4CE66133949E212B429D2,Hamburg,2013-09-18,2,2014-01-29,2,2014-01-29,2
15,20102722,149911,D12078C40370CE93FBD63CB1B9DEAB6DD9239584,Berlin,2013-09-26,3,2014-01-12,6,2014-01-12,6
16,20164310,149917,CF894ADBD0E1ED96A63D256D8F48419921D6BD7B,Schwerin,2013-09-30,0,2014-02-20,3,2014-02-22,5
17,20169502,156682,1203E8643BF967C12CB34518AF6DAFAD6D21F2D2,Offenburg,2013-09-30,0,2014-04-26,5,2014-05-01,3
18,20263201,150782,CAD3A8B07B1103B402AB30FA2EA1925821A6EABE,Offenburg,2013-10-07,0,2014-03-26,2,2014-03-27,3
19,20263220,150782,CAD3A8B07B1103B402AB30FA2EA1925821A6EABE,Offenburg,2013-10-07,0,2014-04-08,1,2014-04-09,2
20,20284643,148694,390C96CE2A960A0DB73C5C972751CE97BB29C2E4,Offenburg,2013-10-08,1,2014-01-09,3,2014-01-09,3
21,20284653,148694,390C96CE2A960A0DB73C5C972751CE97BB29C2E4,Offenburg,2013-10-08,1,2014-01-16,3,2014-01-16,3
22,20299607,156816,E8C3DBB015B2FE5EC1B3D6D29F4DF66ED0DC3B48,Offenburg,2013-10-09,2,2014-04-18,4,2014-04-25,4
23,20350059,151335,7A74D1CF5B58FE0253A4CFC9424C7AB96233C816,Flugh. Berlin,2013-10-12,5,2014-01-03,4,2014-01-06,0
24,20374549,150242,1A990A99759A9CF9A3A32340558E108BD818BFD3,Mannheim,2013-10-14,0,2014-08-02,5,2014-08-02,5
25,20390491,150682,DA740D2EACD1FB25C8B67FF6153E415C0FA5C60F,Stuttgart,2013-10-15,1,2014-01-28,1,2014-01-28,1
26,20397859,150197,5A89323A7FB130FEF6D34996AAC18415B87FB6D2,Ravensburg,2013-10-16,2,2014-01-14,1,2014-01-14,1
27,20409041,149891,B43B7C51E993DFEADA4F74FDE8DFEEFA51CD5DD3,Duisburg,2013-10-16,2,2014-01-06,0,2014-01-09,3
28,20409095,149891,B43B7C51E993DFEADA4F74FDE8DFEEFA51CD5DD3,Duisburg,2013-10-16,2,2014-01-14,1,2014-01-16,3
29,20409142,150240,B43B7C51E993DFEADA4F74FDE8DFEEFA51CD5DD3,Duisburg,2013-10-16,2,2014-01-21,1,2014-01-23,3
...,...,...,...,...,...,...,...,...,...,...
548043,46379100,167724,7F4C8B813601F5645EC6D9FAB984C1F99D5C27BD,Köln,2017-05-15,0,2017-05-15,0,2017-05-16,1
548044,46379772,174126,CCB4DE84E8F52F15C8DCBD03F849E6D68F6BB2DD,Offenburg,2017-05-15,0,2017-05-15,0,2017-05-16,1
548045,46379781,173939,46DF81B56A2BA38D985EEA833FD1EE2327CEB76A,Berlin,2017-05-15,0,2017-05-15,0,2017-05-15,0
548046,46379801,172291,7BD68687E5C3A684AC63365FC2DD9E94CDEB1449,München,2017-05-15,0,2017-05-15,0,2017-05-15,0
548047,46379826,172266,E96C00EC791A4D9E09F70307AB44EC7CFA00E647,Berlin,2017-05-15,0,2017-05-15,0,2017-05-15,0
548048,46379947,173459,A293611EEC995F005D7792B4E323F2D7A2BB4B82,Köln,2017-05-15,0,2017-05-16,1,2017-05-16,1
548049,46380162,170283,70876A04C7EA25D8C57B940D08C2741D32DDD1F6,Berlin,2017-05-15,0,2017-05-15,0,2017-05-15,0
548050,46380658,173950,94F510D203F9B30B3A6592DF398476E49DFD43B7,Berlin,2017-05-15,0,2017-05-16,1,2017-05-16,1
548051,46380725,167739,B83A41DE55827262FBE4488511531F0643E8FECD,Köln,2017-05-15,0,2017-05-16,1,2017-05-16,1
548052,46380751,173431,BDD852F474594DEBC5B4E9AF01E28A9DA6B52633,Berlin,2017-05-15,0,2017-05-16,1,2017-05-16,1
548053,46381961,173556,FB776A7A38A43812B4D27B620ECD05A82FCF983C,München,2017-05-15,0,2017-05-16,1,2017-05-16,1
548054,46382078,173450,54E4A241780CC1A3C7E9D856771F893DB2B303F1,Berlin,2017-05-15,0,2017-05-16,1,2017-05-16,1
548055,46382222,160258,4298714413CFA0B2354E28CC4627959EF66217A7,Stuttgart,2017-05-15,0,2017-05-15,0,2017-05-15,0
548056,46382886,173517,1A5C8B89D697D134FC114EF68D35D1B1D5A724BB,München,2017-05-15,0,2017-05-16,1,2017-05-16,1
548057,46382991,173445,E96C00EC791A4D9E09F70307AB44EC7CFA00E647,Berlin,2017-05-15,0,2017-05-15,0,2017-05-16,1
548058,46383091,167741,CD8FA7486D7B97C4B5EA454713EC70135A1E0A78,Köln,2017-05-15,0,2017-05-16,1,2017-05-16,1
548059,46383117,163415,3ACDCF37CE5FDFD103DC4B25E9E3EF19E99C0EAD,Trier,2017-05-15,0,2017-05-15,0,2017-05-16,1
548060,46383617,174138,A6BDE3C903926D5AF219E26CA4933275B39AC690,Berlin,2017-05-16,1,2017-05-16,1,2017-05-16,1
548061,46384071,148302,D2260E9DA35377C69103FFE4AC0FEE1D886544B9,Berlin,2017-05-16,1,2017-05-16,1,2017-05-16,1
548062,46384454,167786,06EBEE3B0F8AA11CCE044D931603C7B5D1B3881B,München,2017-05-16,1,2017-05-16,1,2017-05-16,1
548063,46384575,161598,1D2D9690B931AE0986F8424E8316149AB191B441,Berlin,2017-05-16,1,2017-05-16,1,2017-05-16,1
548064,46384675,173538,7C4FA89C9CEB0C2700DDB6E8F8520D38118D30CD,Minden,2017-05-16,1,2017-05-16,1,2017-05-16,1
548065,46384746,173540,E58BDE2847F283424E51B64878B1232A74EDDFE6,Berlin,2017-05-16,1,2017-05-16,1,2017-05-16,1
548066,46384815,173964,22787C12D415C3C300B90F44D4D6913A7AEB80DA,Hildesheim,2017-05-16,1,2017-05-16,1,2017-05-16,1
548067,46384875,170520,BFC2A0F0DA54111904EE47F57B2B62E07373A35C,Frankfurt am Main,2017-05-16,1,2017-05-16,1,2017-05-16,1
548068,46385140,174185,65C0C527DD4EA6229E0D2B8E3EE8E7C9D43D037D,Berlin,2017-05-16,1,2017-05-16,1,2017-05-16,1
548069,46385327,149218,B45F2CFD95C5887698AD87B6596102E24DCCE243,Berlin,2017-05-16,1,2017-05-16,1,2017-05-16,1
548070,46385351,174116,954FB74EF255E4089D3D7DA3FE6234DE781BFDD3,Köln,2017-05-16,1,2017-05-16,1,2017-05-16,1
548071,46385778,173552,A986BBFA0F81DD3D2EB02A97A30A97CF111BD2C1,Saarbrücken,2017-05-16,1,2017-05-16,1,2017-05-18,3
548072,46385814,169106,1127C45D5E5C398FE0BCAF07D6C6694C2C9E0B0B,Gelsenkirchen,2017-05-16,1,2017-05-16,1,2017-05-16,1

In [16]:
db_data['bookingDate']

0        2013-06-05
1        2013-06-25
2        2013-08-01
3        2013-08-01
4        2013-08-13
5        2013-08-13
6        2013-08-21
7        2013-08-23
8        2013-09-15
9        2013-09-17
10       2013-09-18
11       2013-09-18
12       2013-09-18
13       2013-09-18
14       2013-09-18
15       2013-09-26
16       2013-09-30
17       2013-09-30
18       2013-10-07
19       2013-10-07
20       2013-10-08
21       2013-10-08
22       2013-10-09
23       2013-10-12
24       2013-10-14
25       2013-10-15
26       2013-10-16
27       2013-10-16
28       2013-10-16
29       2013-10-16
            ...
548043   2017-05-15
548044   2017-05-15
548045   2017-05-15
548046   2017-05-15
548047   2017-05-15
548048   2017-05-15
548049   2017-05-15
548050   2017-05-15
548051   2017-05-15
548052   2017-05-15
548053   2017-05-15
548054   2017-05-15
548055   2017-05-15
548056   2017-05-15
548057   2017-05-15
548058   2017-05-15
548059   2017-05-15
548060   2017-05-16
548061   2017-05-16
548062   2017-05-16
548063   2017-05-16
548064   2017-05-16
548065   2017-05-16
548066   2017-05-16
548067   2017-05-16
548068   2017-05-16
548069   2017-05-16
548070   2017-05-16
548071   2017-05-16
548072   2017-05-16
Name: bookingDate, Length: 548073, dtype: datetime64[ns]

# Holidays according to States of germany

In [38]:
Baden_WürttembergHolidays =pd.read_csv("C:/Users/arora/data carbooking/WurttembergHolidays.csv", sep = ',', header = 0)

In [42]:
Baden_WürttembergHolidays['fromDate'] = pd.to_datetime(Baden_WürttembergHolidays.fromDate)
Baden_WürttembergHolidays

      fromDate  Baden-WürttembergHolidays
0   2013-12-23  Baden-WürttembergHolidays
1   2013-12-24  Baden-WürttembergHolidays
2   2013-12-25  Baden-WürttembergHolidays
3   2013-12-26  Baden-WürttembergHolidays
4   2013-12-27  Baden-WürttembergHolidays
5   2013-12-28  Baden-WürttembergHolidays
6   2013-12-29  Baden-WürttembergHolidays
7   2013-12-30  Baden-WürttembergHolidays
8   2013-12-31  Baden-WürttembergHolidays
9   2014-01-01  Baden-WürttembergHolidays
10  2014-02-01  Baden-WürttembergHolidays
11  2014-03-01  Baden-WürttembergHolidays
12  2014-04-01  Baden-WürttembergHolidays
13  2014-06-01  Baden-WürttembergHolidays
14  2014-04-14  Baden-WürttembergHolidays
15  2014-04-15  Baden-WürttembergHolidays
16  2014-04-16  Baden-WürttembergHolidays
17  2014-04-17  Baden-WürttembergHolidays
18  2014-04-18  Baden-WürttembergHolidays
19  2014-04-19  Baden-WürttembergHolidays
20  2014-04-20  Baden-WürttembergHolidays
21  2014-04-21  Baden-WürttembergHolidays
22  2014-04-22  Baden-WürttembergHolidays
23  2014-04-23  Baden-WürttembergHolidays
24  2014-04-24  Baden-WürttembergHolidays
25  2014-04-25  Baden-WürttembergHolidays
26  2014-01-05  Baden-WürttembergHolidays
27  2014-05-29  Baden-WürttembergHolidays
28  2014-09-06  Baden-WürttembergHolidays
29  2014-10-06  Baden-WürttembergHolidays
..         ...                        ...
357 2017-01-09  Baden-WürttembergHolidays
358 2017-02-09  Baden-WürttembergHolidays
359 2017-03-09  Baden-WürttembergHolidays
360 2017-04-09  Baden-WürttembergHolidays
361 2017-05-09  Baden-WürttembergHolidays
362 2017-06-09  Baden-WürttembergHolidays
363 2017-07-09  Baden-WürttembergHolidays
364 2017-08-09  Baden-WürttembergHolidays
365 2017-09-09  Baden-WürttembergHolidays
366 2017-03-10  Baden-WürttembergHolidays
367 2017-10-30  Baden-WürttembergHolidays
368 2017-10-31  Baden-WürttembergHolidays
369 2017-01-11  Baden-WürttembergHolidays
370 2017-02-11  Baden-WürttembergHolidays
371 2017-03-11  Baden-WürttembergHolidays
372 2017-12-22  Baden-WürttembergHolidays
373 2017-12-23  Baden-WürttembergHolidays
374 2017-12-24  Baden-WürttembergHolidays
375 2017-12-25  Baden-WürttembergHolidays
376 2017-12-26  Baden-WürttembergHolidays
377 2017-12-27  Baden-WürttembergHolidays
378 2017-12-28  Baden-WürttembergHolidays
379 2017-12-29  Baden-WürttembergHolidays
380 2017-12-30  Baden-WürttembergHolidays
381 2017-12-31  Baden-WürttembergHolidays
382 2018-01-01  Baden-WürttembergHolidays
383 2018-02-01  Baden-WürttembergHolidays
384 2018-03-01  Baden-WürttembergHolidays
385 2018-04-01  Baden-WürttembergHolidays
386 2018-05-01  Baden-WürttembergHolidays

[387 rows x 2 columns]

In [55]:
Baden_WürttembergHolidays=Baden_WürttembergHolidays.rename(columns={'Baden-WürttembergHolidays':'Baden_WürttembergHolidays'})

In [58]:
db_data.assign(Baden_WürttembergHolidays=Baden_WürttembergHolidays)

ValueError: Wrong number of items passed 2, placement implies 1

In [47]:
state = pd.merge(db_data, Public_holidays, on ='fromDate')
state

,BOOKING_ID,VEHICLE_TYPE_ID,CUSTOMER_HAL_ID,CITY,bookingDate,BWD,fromDate,FWD,untilDate,UWD,Public_Holidays
0,19923967,150359,9680D41CFEFE292240253676FF6DD6C242B98EFD,Köln,2013-09-15,6,2014-01-05,6,2014-01-05,6,Labour Day
1,20899120,151782,5FC5247F6F79D972C170FED097BE476FDA9517BD,Freiburg,2013-11-17,6,2014-01-05,6,2014-01-06,0,Labour Day
2,21060804,156366,FAA274C4DCE5824954B5054A3A990FFD479EAC5A,München,2013-11-29,4,2014-01-05,6,2014-01-05,6,Labour Day
3,21163381,148703,F1F000E6AECC916CA5ECCC75171257304D565977,Berlin,2013-12-09,0,2014-01-05,6,2014-01-05,6,Labour Day
4,21199509,151776,C36B8DA6673103F493D0E74D0675186CCD9A80B1,Berlin,2013-12-12,3,2014-01-05,6,2014-01-06,0,Labour Day
5,21230785,149278,70069CD5673A6064658DC3E82FB6D2E17E0E8DA7,Schwerin,2013-12-15,6,2014-01-05,6,2014-01-05,6,Labour Day
6,21238044,151356,75CE31E6D6C2EADA726DF959EE602B786C223ED1,Berlin,2013-12-16,0,2014-01-05,6,2014-01-05,6,Labour Day
7,21239449,149189,8DE17CA14BBF03E38E1B5E2F1051984CF4ABD9F7,Hamburg,2013-12-16,0,2014-01-05,6,2014-01-08,2,Labour Day
8,21241782,148624,EBEBDA757DB510C9FF59444A272D727C7A12233C,Lübeck,2013-12-16,0,2014-01-05,6,2014-01-06,0,Labour Day
9,21249302,154730,610A4368136FD14EEE44DDA7AE716BB127B26B58,Berlin,2013-12-17,1,2014-01-05,6,2014-01-05,6,Labour Day
10,21258888,149335,810FB86066C024210B0272BBBDCD21618B536EB2,Oldenburg (Oldb),2013-12-17,1,2014-01-05,6,2014-01-05,6,Labour Day
11,21291663,151146,8DCC769CF5C88FAC54211C127727FBD234AB4902,Köln,2013-12-20,4,2014-01-05,6,2014-01-05,6,Labour Day
12,21309808,151012,1C8C9747ADD5ADDAEE2DD5D63E9F270E41CCE98C,München,2013-12-22,6,2014-01-05,6,2014-01-07,1,Labour Day
13,21313637,153192,B6986E5A6B2A931C53D8C77B07F16A648CF2EB93,München,2013-12-23,0,2014-01-05,6,2014-01-06,0,Labour Day
14,21317957,151331,B07608A9DDBF559E331E748E49D9061687729CD0,Köln,2013-12-23,0,2014-01-05,6,2014-01-05,6,Labour Day
15,21323485,154777,A195EA52210B56B254DD24710AFD23B60B46778D,Köln,2013-12-24,1,2014-01-05,6,2014-01-06,0,Labour Day
16,21327479,148675,6EE1BF03487EC0434F58ABFFCE32F659AF3AE704,Berlin,2013-12-26,3,2014-01-05,6,2014-01-05,6,Labour Day
17,21329831,153198,BC3DC7D231FD031916AE39D489571BE7DFDE5BD7,München,2013-12-26,3,2014-01-05,6,2014-01-05,6,Labour Day
18,21338735,151227,31A345F78FE6B781182BEFFCA97779712E585472,Köln,2013-12-27,4,2014-01-05,6,2014-01-05,6,Labour Day
19,21348053,149382,53F523771EE473313CB29C7B4FADDD5EDA10E80C,Kiel,2013-12-29,6,2014-01-05,6,2014-01-06,0,Labour Day
20,21348242,151354,F0EB56F01C1B30D52D7C2EACDB78E7E86EA26886,Berlin,2013-12-29,6,2014-01-05,6,2014-01-05,6,Labour Day
21,21348745,154773,E85F7E1A9DB37B972C7390EA04CED5ADC493B108,Köln,2013-12-29,6,2014-01-05,6,2014-01-05,6,Labour Day
22,21349054,149874,56F200F0A3B356553A6DB3BA7ED870F6501DE0B6,Berlin,2013-12-29,6,2014-01-05,6,2014-01-05,6,Labour Day
23,21349210,151137,5DB01AB2C309588137E0570E30E2C21D50165DEB,Berlin,2013-12-29,6,2014-01-05,6,2014-01-05,6,Labour Day
24,21350057,150217,E66C7E2AB43D4321790ECC32793C6FA2A8DAD675,Siegburg,2013-12-29,6,2014-01-05,6,2014-01-05,6,Labour Day
25,21350521,151360,C4BACB7937FB190626750C765CAE0DED7F2A0F3B,Berlin,2013-12-29,6,2014-01-05,6,2014-01-05,6,Labour Day
26,21352278,148639,AFC7D4BE4DFDE0E5967674E302DD47CF082213BC,Berlin,2013-12-30,0,2014-01-05,6,2014-01-05,6,Labour Day
27,21353446,149891,674CEA4143E380073C3C57328E8E614A9D3E9164,Duisburg,2013-12-30,0,2014-01-05,6,2014-01-05,6,Labour Day
28,21354711,149542,40C256C5EB4E2F9F291A6E4F4C46ABAA4872331C,Mannheim,2013-12-30,0,2014-01-05,6,2014-01-07,1,Labour Day
29,21356689,148687,A023385E5D666C83597C52F5779AB743EA06E9D1,Hannover,2013-12-30,0,2014-01-05,6,2014-01-05,6,Labour Day
...,...,...,...,...,...,...,...,...,...,...,...
10788,45596741,168059,2DD4120A576B1CEDD2D9AE949F16BB30DAB644FA,Köln,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10789,45596854,174130,D3A885EBBC6F6A16DF8D5094D2DAF2B1EEBC75C8,Berlin,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10790,45596889,167736,FAB00AAF20DCC0BE3DF22EF6B1D8258DADBC091E,Hamburg,2017-04-14,4,2017-04-14,4,2017-04-21,4,Good Friday
10791,45597039,170283,E9CE7AB8A4CD65A34C735101D8A1DF02BFB7E65B,Berlin,2017-04-14,4,2017-04-14,4,2017-04-16,6,Good Friday
10792,45597111,172265,A85E6A5BC9D308FD280F8655B7FD209ECE90F8D5,Berlin,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10793,45597226,174184,5098A77408CF4D219DD0580FF9E0160A8C22655D,Berlin,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10794,45597263,170244,58F49062C9ED85F1E395C509A8C6979DC335832E,München,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10795,45597289,170602,7E0844A60107294F6542A68CE0D11ECAD8EED5EF,Berlin,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10796,45597399,174227,127FEAD89B5530CFD9FE57B46E580CE6EDC88DB6,Hannover,2017-04-14,4,2017-04-14,4,2017-04-15,5,Good Friday
10797,45597512,172318,C4242055601083C3D445BDD16B656B61E292797F,Berlin,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10798,45597875,170274,9845EE99F35030D221EA3A3D4DE289465C2D227F,München,2017-04-14,4,2017-04-14,4,2017-04-17,0,Good Friday
10799,45597975,167789,FD2337B49BFBA878AACF1446DD023A95AE00D4CA,Berlin,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10800,45598066,157814,3A225F7F0B3D2DE919649056E648FF8C0179A166,Berlin,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10801,45598150,174119,5F7F570F6C825BBD017F5249C3ACCE9DAC9F0E1A,Köln,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10802,45598212,170608,45744D23CB7C7915523682E51DA8EB3C8CE94A2E,Köln,2017-04-14,4,2017-04-14,4,2017-04-16,6,Good Friday
10803,45598264,167739,3C0317BE26A76637B24E763D0F7936F532E76943,Köln,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10804,45598542,168033,4CCA0551C928E29D49C69021D4EBDDA7030DD0F2,München,2017-04-14,4,2017-04-14,4,2017-04-15,5,Good Friday
10805,45598583,161596,DCE538E0BD30D9001B18D9932ABF7C5E32339DA0,Trier,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10806,45598714,167579,0D97BE3694D2FAB4C4CAC3BEA3AB67CFC41D94FA,Köln,2017-04-14,4,2017-04-14,4,2017-04-15,5,Good Friday
10807,45599060,160289,6B857B52368757FF41D02F7D52D7994C2A61B075,München,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10808,45599533,173559,392A6A16FCD38C86CD5F079EE451B211F9583A1D,Troisdorf,2017-04-14,4,2017-04-14,4,2017-04-15,5,Good Friday
10809,45599691,174126,5FB139BF4D7D18492BE3BD699406CF83248C6717,Offenburg,2017-04-14,4,2017-04-14,4,2017-04-15,5,Good Friday
10810,45599698,167786,06EBEE3B0F8AA11CCE044D931603C7B5D1B3881B,München,2017-04-14,4,2017-04-14,4,2017-04-15,5,Good Friday
10811,45599756,163391,7AFE8AB35DC81A2F220815EEE3AA66E20D69F593,Freiburg,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10812,45600045,173959,393265FE0E550EAF8AE2873D698350EEDABB8F9E,Berlin,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10813,45600715,173456,15727E4CD472D7D26857EA43889F34A04763A1B5,Berlin,2017-04-14,4,2017-04-14,4,2017-04-15,5,Good Friday
10814,45601316,174131,DC2122296D7D2F4C0CC35CC432A39080865B9629,Berlin,2017-04-14,4,2017-04-14,4,2017-04-15,5,Good Friday
10815,45601365,174109,7942BAF46ED04D93782200702841DD847DB874D5,Köln,2017-04-14,4,2017-04-14,4,2017-04-15,5,Good Friday
10816,45601410,173991,14BA49248625AD25C38F156E5E6493E8F73C2432,Berlin,2017-04-14,4,2017-04-14,4,2017-04-14,4,Good Friday
10817,45601587,173438,9C147597BC46DC6A9F1365077A200D1F6EA09AB0,Berlin,2017-04-14,4,2017-04-14,4,2017-04-15,5,Good Friday

In [12]:
Federal_States =pd.read_csv("C:/Users/arora/data carbooking/federalStates.csv", sep = ',', header = 0)
Federal_States

                      CITY  POPULATION           FEDERAL_STATE
0                   Aachen      245885    Nordrhein-Westfalen
1            Aschaffenburg       68986                  Bayern
2                 Augsburg      286374                  Bayern
3                 Bayreuth       72148                  Bayern
4                   Berlin     3520031                  Berlin
5                Bielefeld      333090    Nordrhein-Westfalen
6     Bietigheim-Bissingen       43068       Baden-Württemberg
7                  Cottbus       99687             Brandenburg
8          Deggenhausertal        4243       Baden-Württemberg
9                Dillingen       20385                  Bayern
10                Duisburg      491231    Nordrhein-Westfalen
11               Dübbekold          56           Niedersachsen
12              Düsseldorf      612178    Nordrhein-Westfalen
13                Eisenach       42588              Thüringen
14                  Erfurt      210118              Thüringen
15               Eriskirch        4815       Baden-Württemberg
16                   Essen      582624    Nordrhein-Westfalen
17           Flugh. Berlin         120                  Berlin
18       Frankfurt am Main      732688                  Hessen
19                Freiburg      226393       Baden-Württemberg
20         Friedrichshafen       59108       Baden-Württemberg
21                   Fulda       67253                  Hessen
22  Garmisch-Partenkirchen       25581                  Bayern
23           Gelsenkirchen      262528    Nordrhein-Westfalen
24               Göppingen       56904       Baden-Württemberg
25                   Halle      236991          Sachsen-Anhalt
26                 Hamburg     1787408                 Hamburg
27                    Hamm      179397    Nordrhein-Westfalen
28                Hannover      532163          Niedersachsen
29              Heidelberg      156267       Baden-Württemberg
..                     ...         ...                     ...
55                 München     1450381                  Bayern
56                 Münster      310039    Nordrhein-Westfalen
57                   Neuss      155414    Nordrhein-Westfalen
58              Oberhausen      210934    Nordrhein-Westfalen
59               Offenburg       58465       Baden-Württemberg
60        Oldenburg (Oldb)      163830          Niedersachsen
61               Osnabrück      162403          Niedersachsen
62               Ottweiler       14571                Saarland
63                Panketal       20131             Brandenburg
64                 Potsdam      167745             Brandenburg
65              Ravensburg       50095                  Bayern
66             Riegelsberg       14763                  Bayern
67               Rosenheim       61844                  Bayern
68                 Rostock      206011  Mecklenburg-Vorpommern
69             Saarbrücken      178151                Saarland
70               Saarlouis      196609                Saarland
71                   Salem       11265       Baden-Württemberg
72             Schweinfurt       51969                  Bayern
73                Schwerin       96800  Mecklenburg-Vorpommern
74                Siegburg       41034    Nordrhein-Westfalen
75             St. Ingbert       36069                Saarland
76              St. Wendel       26106                Saarland
77               Stralsund       58041  Mecklenburg-Vorpommern
78               Stuttgart      623738       Baden-Württemberg
79                   Trier      114914        Rheinland-Pfalz
80               Troisdorf       74400    Nordrhein-Westfalen
81                     Ulm      122636       Baden-Württemberg
82               Viernheim       34100                  Hessen
83                  Weimar       64131              Thüringen
84               Wuppertal      350046    Nordrhein-Westfalen

[85 rows x 3 columns]

# Merging Federal States with db_data

In [28]:
federal = pd.merge(db_data, Federal_States, on ='CITY')
federal.tail(50)

,BOOKING_ID,VEHICLE_TYPE_ID,CUSTOMER_HAL_ID,CITY,bookingDate,BWD,fromDate,FWD,untilDate,UWD,POPULATION,FEDERAL_STATE
548023,45678322,163393,C9FC74B81F84343144CD8611167DE791DA108611,Bayreuth,2017-04-19,2,2017-04-19,2,2017-04-20,3,72148,Bayern
548024,45834837,163393,1E06AD065AB3B263671A32C9C4C33AFE1022F86E,Bayreuth,2017-04-26,2,2017-04-26,2,2017-04-26,2,72148,Bayern
548025,45877838,163393,B3A227AD645E42CF36A0572D0A3E04D4DD8E45B3,Bayreuth,2017-04-27,3,2017-04-27,3,2017-04-27,3,72148,Bayern
548026,46051580,163393,780E9B2273E7CCF77DB0FAEC04FADB403CE1BDBC,Bayreuth,2017-05-04,3,2017-05-08,0,2017-05-08,0,72148,Bayern
548027,46054087,163393,5C899574EA4F3F536D33F0AA92262B488A723A0C,Bayreuth,2017-05-04,3,2017-05-04,3,2017-05-04,3,72148,Bayern
548028,46108684,163393,07BEE3D7AF4BF819F8417071366B2BA14F0C091E,Bayreuth,2017-05-06,5,2017-05-06,5,2017-05-06,5,72148,Bayern
548029,46167023,163393,C9A151E014BEBA45666B86E3F4E27ECAC6D4934C,Bayreuth,2017-05-08,0,2017-05-13,5,2017-05-13,5,72148,Bayern
548030,46340432,163393,D92D907E8DADA9A3C220FBB525C81939B9C391CF,Bayreuth,2017-05-14,6,2017-05-15,0,2017-05-15,0,72148,Bayern
548031,40215294,173572,078E4C41829BF58925CC0B0396331A4E2AEF469D,Schweinfurt,2016-08-09,1,2016-08-10,2,2016-08-14,6,51969,Bayern
548032,40361750,173572,9F419852F1DC7F2FA05D4FB89944E5867A5F0AE8,Schweinfurt,2016-08-15,0,2016-08-15,0,2016-08-15,0,51969,Bayern
548033,40400152,173572,1832B1E4A6C5C8DF0638F874C0A025E3C3536FAF,Schweinfurt,2016-08-16,1,2016-08-17,2,2016-08-17,2,51969,Bayern
548034,40435132,173573,FA43061EE9BD86465188246651D2B5A82B693F25,Schweinfurt,2016-08-17,2,2016-08-17,2,2016-08-17,2,51969,Bayern
548035,44002241,169106,09C28A7D234372BC7DADC18268FFF993E9318265,Gelsenkirchen,2017-01-29,6,2017-01-29,6,2017-01-29,6,262528,Nordrhein-Westfalen
548036,44105178,167764,9B3E55FADCCE50B869039C54783A81D4F201E138,Gelsenkirchen,2017-02-04,5,2017-02-04,5,2017-02-04,5,262528,Nordrhein-Westfalen
548037,44382538,167764,D260CE2B5F57BFAA222ECA092709C4D27DA85758,Gelsenkirchen,2017-02-20,0,2017-02-20,0,2017-02-20,0,262528,Nordrhein-Westfalen
548038,44432303,169106,F2FADE1BE11C030F8F363AB26B7A6E91D5991643,Gelsenkirchen,2017-02-23,3,2017-02-23,3,2017-02-23,3,262528,Nordrhein-Westfalen
548039,44474153,167764,9B3E55FADCCE50B869039C54783A81D4F201E138,Gelsenkirchen,2017-02-25,5,2017-02-25,5,2017-02-25,5,262528,Nordrhein-Westfalen
548040,44526076,167764,5B298F8EF6252E96616130F13B027E43206822D5,Gelsenkirchen,2017-02-28,1,2017-03-01,2,2017-03-01,2,262528,Nordrhein-Westfalen
548041,44678819,167764,D260CE2B5F57BFAA222ECA092709C4D27DA85758,Gelsenkirchen,2017-03-08,2,2017-03-08,2,2017-03-08,2,262528,Nordrhein-Westfalen
548042,44789328,167764,37C7F9DA9B76DF8626BA2EA63D6D7FC40D44596F,Gelsenkirchen,2017-03-13,0,2017-03-13,0,2017-03-13,0,262528,Nordrhein-Westfalen
548043,44823508,167764,A71C6D02A72CFE229AD2F68F72CCBA22B6BD4DF1,Gelsenkirchen,2017-03-15,2,2017-03-22,2,2017-03-22,2,262528,Nordrhein-Westfalen
548044,44961562,169106,1647493F0E7BFCE14839EB752913F5F868330A30,Gelsenkirchen,2017-03-21,1,2017-03-22,2,2017-03-22,2,262528,Nordrhein-Westfalen
548045,45018674,167764,37C7F9DA9B76DF8626BA2EA63D6D7FC40D44596F,Gelsenkirchen,2017-03-24,4,2017-03-24,4,2017-03-24,4,262528,Nordrhein-Westfalen
548046,45166687,167764,D260CE2B5F57BFAA222ECA092709C4D27DA85758,Gelsenkirchen,2017-03-29,2,2017-03-29,2,2017-03-29,2,262528,Nordrhein-Westfalen
548047,45214038,167764,37C7F9DA9B76DF8626BA2EA63D6D7FC40D44596F,Gelsenkirchen,2017-03-31,4,2017-03-31,4,2017-03-31,4,262528,Nordrhein-Westfalen
548048,45356701,167764,6D3BD04B2316FBA2517C019281D66D6C6FB1D9EC,Gelsenkirchen,2017-04-05,2,2017-04-08,5,2017-04-08,5,262528,Nordrhein-Westfalen
548049,45520503,169106,0668F247A9D0B2F3C617540532E376413F86566C,Gelsenkirchen,2017-04-11,1,2017-04-11,1,2017-04-11,1,262528,Nordrhein-Westfalen
548050,45554320,167764,1127C45D5E5C398FE0BCAF07D6C6694C2C9E0B0B,Gelsenkirchen,2017-04-12,2,2017-04-12,2,2017-04-12,2,262528,Nordrhein-Westfalen
548051,45605637,167764,1127C45D5E5C398FE0BCAF07D6C6694C2C9E0B0B,Gelsenkirchen,2017-04-15,5,2017-04-15,5,2017-04-15,5,262528,Nordrhein-Westfalen
548052,45619711,167764,2DAFE148D5224142FF069A8120FA2EE7ED8DF9B8,Gelsenkirchen,2017-04-16,6,2017-04-16,6,2017-04-16,6,262528,Nordrhein-Westfalen
548053,45644571,167764,3D772226807DFB6EB20E95710C44AEB8C71DB84E,Gelsenkirchen,2017-04-18,1,2017-04-18,1,2017-04-18,1,262528,Nordrhein-Westfalen
548054,45655518,167764,1127C45D5E5C398FE0BCAF07D6C6694C2C9E0B0B,Gelsenkirchen,2017-04-18,1,2017-04-18,1,2017-04-18,1,262528,Nordrhein-Westfalen
548055,45738522,167764,BE08A4F1D268F668FA3DA9951FE007B4E245AF50,Gelsenkirchen,2017-04-21,4,2017-04-21,4,2017-04-22,5,262528,Nordrhein-Westfalen
548056,45798417,167764,D260CE2B5F57BFAA222ECA092709C4D27DA85758,Gelsenkirchen,2017-04-24,0,2017-04-24,0,2017-04-24,0,262528,Nordrhein-Westfalen
548057,45805327,167764,F2FADE1BE11C030F8F363AB26B7A6E91D5991643,Gelsenkirchen,2017-04-24,0,2017-04-26,2,2017-04-26,2,262528,Nordrhein-Westfalen
548058,45811609,169106,6F73CC5022A9633F1C6E0964591F5ADC00C1F503,Gelsenkirchen,2017-04-25,1,2017-04-26,2,2017-04-26,2,262528,Nordrhein-Westfalen
548059,45841247,167764,0B8FA93DC0397E09CCE1D48AFE10F77B2340B61B,Gelsenkirchen,2017-04-26,2,2017-05-02,1,2017-05-03,2,262528,Nordrhein-Westfalen
548060,45931583,167764,37C7F9DA9B76DF8626BA2EA63D6D7FC40D44596F,Gelsenkirchen,2017-04-29,5,2017-04-29,5,2017-04-29,5,262528,Nordrhein-Westfalen
548061,45977518,169106,0F8E88370FC6A56860096E25CFAC5C59D04F75FC,Gelsenkirchen,2017-05-01,0,2017-05-02,1,2017-05-04,3,262528,Nordrhein-Westfalen
548062,45983461,167764,1127C45D5E5C398FE0BCAF07D6C6694C2C9E0B0B,Gelsenkirchen,2017-05-01,0,2017-05-01,0,2017-05-01,0,262528,Nordrhein-Westfalen
548063,46039898,167764,96742D1415E562C00374006A8BD8EE551CA15EE1,Gelsenkirchen,2017-05-04,3,2017-05-04,3,2017-05-04,3,262528,Nordrhein-Westfalen
548064,46090645,167764,406323E66FF4702D121C1DABFA7A72DFA4423E03,Gelsenkirchen,2017-05-06,5,2017-05-06,5,2017-05-06,5,262528,Nordrhein-Westfalen
548065,46092179,167764,1127C45D5E5C398FE0BCAF07D6C6694C2C9E0B0B,Gelsenkirchen,2017-05-06,5,2017-05-06,5,2017-05-06,5,262528,Nordrhein-Westfalen
548066,46120022,167764,1127C45D5E5C398FE0BCAF07D6C6694C2C9E0B0B,Gelsenkirchen,2017-05-07,6,2017-05-07,6,2017-05-07,6,262528,Nordrhein-Westfalen
548067,46148279,167764,4780FB78C64BAE06C06FF2AAEAEDDF651499CDA9,Gelsenkirchen,2017-05-08,0,2017-05-08,0,2017-05-08,0,262528,Nordrhein-Westfalen
548068,46213146,167764,0B8FA93DC0397E09CCE1D48AFE10F77B2340B61B,Gelsenkirchen,2017-05-10,2,2017-05-15,0,2017-05-17,2,262528,Nordrhein-Westfalen
548069,46227959,167764,1127C45D5E5C398FE0BCAF07D6C6694C2C9E0B0B,Gelsenkirchen,2017-05-10,2,2017-05-11,3,2017-05-11,3,262528,Nordrhein-Westfalen
548070,46309615,167764,1127C45D5E5C398FE0BCAF07D6C6694C2C9E0B0B,Gelsenkirchen,2017-05-13,5,2017-05-13,5,2017-05-13,5,262528,Nordrhein-Westfalen
548071,46356091,167764,1127C45D5E5C398FE0BCAF07D6C6694C2C9E0B0B,Gelsenkirchen,2017-05-15,0,2017-05-15,0,2017-05-15,0,262528,Nordrhein-Westfalen
548072,46385814,169106,1127C45D5E5C398FE0BCAF07D6C6694C2C9E0B0B,Gelsenkirchen,2017-05-16,1,2017-05-16,1,2017-05-16,1,262528,Nordrhein-Westfalen

In [14]:
federal.FEDERAL_STATE.value_counts()

Berlin                    155643
Nordrhein-Westfalen       134843
Bayern                     98246
Baden-Württemberg          83289
Hessen                     21107
Hamburg                    20001
Niedersachsen              12894
Schleswig-Holstein          4511
Mecklenburg-Vorpommern      4357
Brandenburg                 4175
Saarland                    3780
Rheinland-Pfalz             3340
Thüringen                   1660
Sachsen-Anhalt               171
Niedersachsen                 56
Name: FEDERAL_STATE, dtype: int64